.colorpickerbutton {
    width: 42px;
    height: 42px;
}

.colorDarkBlueBg {
    background-color: #202040;
}

.colorDarkBlue {
    color: #202040;
}

.colorVioletBg {
    background-color: #543864;
}

.colorViolet {
    color: #543864;
}

.colorRedBg {
    background-color: #FF6363;
}

.colorOrangeBg {
    background-color: #FFBD69;
}

.colorOrange {
    color: #FFBD69;
}